# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "23dc6fedf5b22e45b3316d166cfd1593"
name = "PostPurchase Pro"
application_url = "post-purchase-pro-app.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = ["https://post-purchase-pro-app.vercel.app/auth/callback",
 "https://post-purchase-pro-app.vercel.app/auth/shopify/callback",
 "https://post-purchase-pro-app.vercel.app/api/auth/callback"]
