name = "my-post-purchase-ui-extension"
type = "checkout_post_purchase"
uid = "f4f18f33-70b3-5b25-0d55-cd88c77f38c11834ada3"

# [[metafields]]
# namespace = "my-namespace"
# key = "my-key"

# [[metafields]]
# namespace = "my-namespace"
# key = "my-key-2"
